## Python
python/src/__pycache__
# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/

# Data path
data/*
!data/atlas
!data/output
!data/data_template.json
data/output/*


python/src/temp/*
python/src/utils/*
